PORT=4000
ENVIRONMENT=development
VERSION=1.0
API_KEY=TOKEN_AUTH_2024
JWT_SECRET_KEY=TOKEN_AUTH_2024

DB_NAME=db_nyucimobil
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=1111
DB_PORT=5432

CHATBOTAPI = 7116033
MNT_PATH=/Users/work/mnt/nyucimobil/
